<?xml version="1.0" encoding="UTF-8"?> 
<launch>

<!-- imu -->
  <node pkg="microstrain_3dmgx2_imu" type="imu_node" name="imu0" output="screen">
    <remap from="/imu/data" to="imu0" />
    <remap from="/imu/is_calibrated" to="imu0/is_calibrated" />
    <param name="time_offset" value="0" />
    <param name="port"  type="string" value="/dev/imu" />
    <param name="autostart" type="bool" value="true" />
    <param name="frameid"  type="string" value="imu0" />
    <param name="autocalibrate" type="bool" value="true" />
    <param name="angular_velocity_stdev" type="double" value="0.0009431" />
    <param name="linear_acceleration_stdev" type="double" value="0.0003547" />
    <param name="max_drift_rate" type="double" value="0.0005" />
  </node>

</launch>
